<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<title>Insert-Offerta</title>
</head>
<body>
	<header>
			     <!-- barra di navigazione --> 
				<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
			        <div class="container">
			            <a class="navbar-brand" href="#">Prodotti</a>
			            <button
			                class="navbar-toggler"
			                type="button"
			                data-bs-toggle="collapse"
			                data-bs-target="#navbarSupportedContent"
			                aria-controls="navbarSupportedContent"
			                aria-expanded="false"
			                aria-label="Toggle navigation" >
			             <span class="navbar-toggler-icon"></span>
			            </button>
			            <div class="collapse navbar-collapse" id="navbarSupportedContent">
			                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
			                    <li class="nav-item">
			                        <a class="nav-link active" aria-current="page" href="#">Servizi</a>
			                    </li>
			                    <li class="nav-item">
			                        <a class="nav-link active" href="#">Contatti</a>
			                    </li>
			                    <li class="nav-item">
			                        <a class="nav-link active" aria-current="page" href="#">Login</a>
			                    </li>
			                </ul>
			            </div>
			        </div>
			    </nav>
			</header>
	
	<div class="text-center mt-5 mb-5">
		<h1>Offerta speciale</h1>
		<h1 th:text="|Pizza ${offertaForm.pizza.name}|"></h1>
	</div>

	<div class="container">
		<form class="mx-auto w-50" id="form-offerta" th:object="${offertaForm}" th:action="@{/index/insert-offerta/{id}(id=${offertaForm.pizza.id})}" method="post">
			<input type="hidden" th:field="*{pizza}" id="pizza">
			<div class="form-group mb-2" >
			<label for="DataInizio" name="dataInizio"> Data d'inizio dell'offerta speciale</label>
			<input type="date" class="form-control" id="data_inizio" th:field="*{dataInizio}" th:errorClass="is-invalid" th:value="*{dataInizio}">
			    <div th:if="${#fields.hasErrors('dataInizio')}" class="invalid-feedback">
				   <ul>
	   				  <li th:each="err : ${#fields.errors('dataInizio')}" 
	   					th:text="${err}">
	   				  </li>
				   </ul>
			    </div>
			</div>
				
			<div class="form-group mb-2"> 
			<label for="dataFine" name="dataFine"> Data di fine dell'offerta speciale </label>
			<input type="date" class="form-control"  id="dataFine" th:field="*{dataFine}" th:errorClass="is-invalid">
				<div th:if="${#fields.hasErrors('dataFine')}" class="invalid-feedback">
					<ul>
	   					<li th:each="err : ${#fields.errors('dataFine')}" 
	   						th:text="${err}">
	   					</li>
					</ul>
				</div>
			</div>
			<div class="form-group mb-2">	
			<label for="titolo" name="titolo"> Titolo </label>
			<input type="text" class="form-control" id="titolo" th:field="*{titolo}" th:errorClass="is-invalid">
				<div th:if="${#fields.hasErrors('titolo')}" class="invalid-feedback">
					<ul>
	   					<li th:each="err : ${#fields.errors('titolo')}" 
	   					th:text="${err}">
	   					</li>
					</ul>
				</div>
			</div>
							
			<button type="submit" class="btn btn-primary"> Aggiungi </button>		
		</form>
	</div>
	
	
	<div class="text-center mt-5">
			<a class="btn btn-primary" th:href="@{/index}"> Torna alla lista delle pizze </a>
	</div>

	<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>